red-bicicletas/views/bicicletas/create.html
<br>
<br>
<h1>Nueva bicicleta</h1>
<br>
<br>
<form action="biciletas/create" method="POST">
  <label for="id">ID</label>
  <input type="text" name="id" id="id">
  <label for="color"></label>
  <input type="text" name="color" id="color">
  <label for="modelo"></label>
  <input type="text" name="modelo" id="modelo">
  <br>
  <input type="submit" value="Ok">
</form>

red-bicicletas/views/bicicletas/create.pug
extends ../layout

block content
  br
  a(href='/bicicletas') Volver
  br
  h1 Nueva bicicleta
  br
  br
  form(action='/bicicletas/create' method='POST')
    label(for='id') ID
    input#id(type='text' name='id')
    label(for='color')
    input#color(type='text' name='color')
    label(for='modelo')
    input#modelo(type='text' name='modelo')
    br
    input(type='submit' value='Ok')
